.board {
    display: flex;
    justify-content: center;
}
.white-square {
    width: 4em;
    height: 4em;
    background-color: antiquewhite;
}

.black-square {
    width: 4em;
    height: 4em;
    background-color: black;
}

