h1 {
    color: plum;
}

img {
    width: 47%;
}

span {
    font-weight: bold;
    font-size: large;
}

/* hide short text by default */
.mobile-text { display: none; }


/* moBiLE VeRsiOn*/
@media (max-width: 720px) {
    h1 {
        color: paleturquoise;
    }
    /* */
    img {
        width: 60%;
    }
    .mobile-text { display: inline-block; }
    .desktop-text { display: none; }
}