
body {
  font-family: sans-serif;
}

.App {
  text-align: center;
}

nav {
  border-bottom: 1px solid black;
}

.colors0 {
  background-color: lightgray;
}

.colors1 {
  background-color: lightsteelblue;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  padding-top: 1em;
}

.nav-item, .last-nav-item {
  display: inline-block;
}

.nav-item a::after {
  display: inline-block;
  color: #000;
  content: '|';
  font-size: 80%;
  font-weight: bold;
  padding: 0 6px;
}

div {
  margin: 0px;
  padding: 0px;
}


button {
  width: 30%;
  line-height: 1em;
  height: 3em;
  margin-top: 1em;
}

img {
  max-width: 50%;
}